#root {
  align-items: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: coral;
  font-size: medium;
}
#line {
  width: 80%;
  height: 2px;
  background-image: linear-gradient(to right, coral, pink)
}

#form {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 30px; */
  font-family: 'Open Sans', sans-serif;
  color: coral;
}
#pecas {
  display: flexbox;
}

#imgPecas {
  width: 40%;
  height: 90%;
}
#submit {
  width: 10%;
  height: 40px;
  border-radius: 5px;
  background-image: linear-gradient(to right, coral, pink);
  font-size: x-small;
  color:blanchedalmond;
  text-decoration:underline;
}
#title1 {
  margin-top: 20px;
  font-size: 70px;
  font-family: "brush-script-std", sans-serif;
  
}
#designed {
  font-family: 'Open Sans', sans-serif;
  font-size: xx-small;
}

@media screen {
  #pecas {
    display: flow-root;
  }
  #submit {
    width: auto;
  }
}
